body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-image: url(../../Design/Assets/SVG/Merged-bar-19.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    .navbar--imag{
        margin-left: 20px;
    }
    .navbar--list {
        color: rgb(46, 23, 148);
        float: right;
        font-size: 20px;
        font-family: 'Cairo', sans-serif;
        ul{
            list-style-type: none;
            li a{
                text-decoration: none;
                margin-right: 50px;
                color: black;
            }

        }
    }
}
.header{
    background-image: url(../../Design/Assets/SVG/En-chiffres-19.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Cairo', serif;
    
    .header__ha{
        margin-top: 0px;
        padding-top: 25px;
        
    }
    .header__pr{
        margin: 0px 300px 0px 300px;
    }
}
.pr-section{
    display: flex;
    justify-content: space-between;
    .pr-section__imag{
        margin-top: 26px;
    }
    .pr-section__info{
        float: right;
        text-align: center;
        font-family: 'Cairo', sans-serif;
        font-size: 19px;
        width: 700px;
        font-weight: 900;
        .pr-section__info__adder{
            color:#1078AD ;
        }
        .pr-section__info__para{
            color: #7F7F7F;
        }
        .pr-section__info__boto{
            font-size: 26px;
            width: 70%;
            background-color: #1078AD ;
            color: white;
            font-family: 'Cairo', sans-serif;
            border-radius: 8px;
            cursor: pointer;

        }
    }
}
.question{
    text-align: center;
    color: #1078AD;
    font-family: 'Cairo', sans-serif;
}
.Symptômes{
    display: flex;
    justify-content: center ;
    align-items: baseline;
    font-family: 'Cairo', sans-serif;
    .Symptômes div{
        width: 100px;
        margin: 100px;
    }
    .Symptômes__1{
        margin-left: 100px;
    }
    .Symptômes__2{
        margin-left: 120px;
    }
}
.recom{
    background-color: #1078AD;
    font-family: 'Cairo', sans-serif;
    .recom__heading{
        text-align: center;
        color: #D0E5F0;
       
    }
    .recom__consiel{
        display: flex;
        justify-content: space-around;
    }
    .recom__consiel__text{
        color: white;
        font-size: large;
        line-height: 0.9;
        .recom__consiel__text__hed{
            color: black;
        }
        
    }
    .recom__contact{
        line-height: 2.5;
        font-size: large;
        .recom__contact__app{
            color: #F4CF1B;
        }
        .recom__contact__num{
            border: black 1px ;
            padding: 0px 10px;
            background-color:#F4CF1B ;
            color: #1078AD;
        }
        .recom__contact__site{
            color: white;
            text-decoration: none;
            font-size: x-large;
            border-bottom: solid #F4CF1B ;
        }
    }
}
.test{
    background-color: #96C5DC;
    text-align: center;
    .test__hedd{
        color: #1078AD;
        margin-top: 0px;
    }
    .test__boton{
        font-size: 26px;
        width: 50%;
        background-color: #1078AD ;
        color: white;
        font-family: 'Cairo', sans-serif;
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
}
