@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-image: url(../../Design/Assets/SVG/Merged-bar-19.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .navbar--imag {
  margin-left: 20px;
}

.navbar .navbar--list {
  float: right;
  font-size: 20px;
  font-family: "Cairo", serif;
}

.navbar .navbar--list ul {
  list-style-type: none;
}

.navbar .navbar--list ul li a {
  text-decoration: none;
  margin-right: 50px;
  color: #1078AD;
}

.navbar .navbar--list ul .navbar--list__arab {
  border: solid #1078AD 1px;
  color: #000;
  padding: 2px;
  font-size: 15px;
  border-radius: 7px;
}

.navbar .navbar--list ul i {
  color: #F4CF1B;
  margin-left: 7px;
}

.header {
  background-image: url(../../Design/Assets/SVG/En-chiffres-19.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Cairo", serif;
  margin-top: 83px;
}

.header .header__ha {
  margin-top: 0px;
  padding-top: 25px;
}

.header .header__pr {
  margin: 0px 300px 0px 300px;
}

.pr-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pr-section .pr-section__imag {
  margin-top: 26px;
}

.pr-section .pr-section__info {
  float: right;
  text-align: center;
  font-family: "Cairo", serif;
  font-size: 19px;
  width: 700px;
  font-weight: 900;
}

.pr-section .pr-section__info .pr-section__info__adder {
  color: #1078AD;
}

.pr-section .pr-section__info .pr-section__info__para {
  color: #7F7F7F;
}

.pr-section .pr-section__info .pr-section__info__boto {
  width: 70%;
  font-size: 26px;
  background-color: #1078AD;
  color: white;
  font-family: "Cairo", serif;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.question {
  text-align: center;
  color: #1078AD;
  font-family: "Cairo", serif;
}

.Symptômes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: "Cairo", serif;
}

.Symptômes .Symptômes div {
  width: 100px;
  margin: 100px;
}

.Symptômes .Symptômes__1 {
  margin-left: 100px;
}

.Symptômes .Symptômes__2 {
  margin-left: 120px;
}

.recom {
  background-color: #1078AD;
  font-family: "Cairo", serif;
}

.recom .recom__heading {
  text-align: center;
  color: #D0E5F0;
}

.recom .recom__consiel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recom .recom__consiel__text {
  color: white;
  font-size: large;
  line-height: 0.9;
}

.recom .recom__consiel__text .recom__consiel__text__hed {
  color: black;
}

.recom .recom__contact {
  line-height: 2.5;
  font-size: large;
}

.recom .recom__contact .recom__contact__app {
  color: #F4CF1B;
}

.recom .recom__contact .recom__contact__num {
  border: black 1px;
  padding: 0px 10px;
  background-color: #F4CF1B;
  color: #1078AD;
  border-radius: 7px;
}

.recom .recom__contact .recom__contact__site {
  color: white;
  text-decoration: none;
  font-size: x-large;
  border-bottom: solid #F4CF1B;
}

.test {
  background-color: #96C5DC;
  text-align: center;
  height: 220px;
}

.test .test__hedd {
  color: #1078AD;
  margin-top: 0px;
}

.test .test__boton {
  width: 50%;
  font-size: 26px;
  background-color: #1078AD;
  color: white;
  font-family: "Cairo", serif;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.ac-footer__imag {
  text-align: center;
}

.ac-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Cairo", serif;
}

.ac-footer__list .ac-footer__list__li {
  font-size: 25px;
  line-height: 2.5;
}

.ac-footer__list .ac-footer__list__li ul {
  list-style-type: none;
}

.ac-footer__list .ac-footer__list__li ul li a {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  margin-right: 60px;
  color: #1078AD;
  font-weight: 900;
}

.ac-footer__list .ac-footer__list__li ul .ac-footer__list__li__arab {
  border: solid #1078AD 1px;
  color: #000;
  padding: 2px;
  font-size: 15px;
  border-radius: 7px;
}

.ac-footer__list .ac-footer__list__li ul i {
  color: #F4CF1B;
  margin-left: 7px;
}

.ac-footer__list .ac-footer__list__conct {
  text-align: center;
  width: 100%;
  line-height: 1.5;
}

.ac-footer__list .ac-footer__list__conct .ac-footer__list__conct__hed2 {
  color: #1078AD;
}

.ac-footer__list .ac-footer__list__conct .ac-footer__list__conct__num {
  color: #369D53;
}

.ac-footer__list .ac-footer__list__algo {
  width: 80%;
  margin: 70px;
  color: #7F7F7F;
}

.fin-footer {
  height: 30px;
  width: 100%;
  background-color: #1078AD;
}
/*# sourceMappingURL=fichier.css.map */